{% extends 'druzyna/base.html' %}
<title>{% block title %}Wydarzenia{% endblock %}</title>
{% block body %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="table-responsive">
  <h2>Spis wydarzen:</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Wydarzenie</th>
          <th>Miejsce</th>
        <th>Data</th>
        <th>Szczegoly</th>
      </tr>
    </thead>
   <tbody>
          {% for event in all_events %}
              <tr>
                  <td>{{ event.name }}</td><td>{{ event.place }}</td><td>{{ event.date }}</td><td><a href=" {% url 'events:detail' event.id %}" > Wiecej... </a></td> </a>
        </tr>
          {% endfor %}
    </tbody>
  </table>
</div>

</body>
<footer>
    <p align="right"><button type="button" class="btn">Dodaj wydarzenie</button></p>
</footer>
</html>


{% endblock %}