<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Start{% endblock %}</title>
    {% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'druzyna/style.css' %} "/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="{% static 'druzyna/main.js' %}"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'druzyna:index' %}"> Start </a>&nbsp;
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'druzyna:index'  %}">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; Drużyny
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'zawodnik:index_z'  %}">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp; Zawodnicy
                    </a>
                </li>
                 <li class="">
                    <a href="{% url 'events:index'  %}">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp; Wydarzenia
                    </a>
                </li>
                </li>
                 <li class="">
                    <a href="{% url 'polls:index'  %}">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp; Ankiety
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search" method="get" action="#">
            <div class="form-group">
                <input type="text" class="form-control" name="q" value="">
            </div>
            <button type="submit" class="btn btn-default">Wyszukaj</button>
            </form>

            <ul class="nav navbar-nav navbar-right" >
                <li class="">
                    <a href="{% url 'druzyna:add-team' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Dodaj drużynę
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Wyloguj
                    </a>
                </li>

            </ul>

        </div>


    </div>
</nav>

{% block body %}
{% endblock %}

</body>
</html>