{% extends 'druzyna/base.html' %}
<head>
    <script src="{% static 'druzyna/jquery.tablesorter.min.js' %}"></script>
    <script  src="{% static 'druzyna/jquery-3.2.1.min.js' %}"></script>
</head>
<title>{% block title %}Szczegóły{% endblock %}</title>
{% block teams_active %}active{% endblock %}
<script type="text/javascript">
  $(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
);

</script>


{% block body %}

<div class="container-fluid teams-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'druzyna:detail' druzyna.id %}">
                        {% if druzyna.logo %}
                            <img src="{{ druzyna.logo.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ druzyna.nazwa }} </h1>
                </div>
            </div>
        </div>

    <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'druzyna:update-team' druzyna.id %}">Aktualizuj</a></li>
                <li role="presentation"><a href="{% url 'zawodnik:add-player' %}">Dodaj zawodnika</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Wszyscy zawodnicy</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

     <table  id="myTable" class="tablesorter" >
     <thead>
        <tr>
            <th>Imię </th>
            <th>Nazwisko</th>
            <th>Pozycja</th>
            <th>Wiek</th>
            <th>Wzrost</th>
            <th>Numer</th>
        </tr>
     </thead>

         <tbody>
            {% for zawodnik in druzyna.zawodnik_set.all %}
                <thead>
                        <tr>
                            <th>&nbsp;{{ zawodnik.imie }} </th>
                            <th>&nbsp;{{ zawodnik.nazwisko }} </th>
                            <th>&nbsp;{{ zawodnik.pozycja }} </th>
                            <th>&nbsp;{{ zawodnik.wiek }} </th>
                            <th>&nbsp;{{ zawodnik.wzrost }} </th>
                            <th>&nbsp;{{ zawodnik.numer }} </th>
                            <br>
                        </tr>
                </thead>
            {% endfor %}
         </tbody>
    </table>

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

