{% for field in form %}
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger small"> {{ field.errors }} </span>
        <div>
            <label class="control-label ">{{ field.label_tag }}</label>
            <div class="cm-sm-10">{{field }}</div>
        </div>
    </div>

    </div>
{% endfor %}