{% extends 'druzyna/base.html' %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="teams-container container-fluid">

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
        </div>
        {% if object_list %}
            {% for druzyna in object_list %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'druzyna:detail' druzyna.id %}">
                            <img src="{{ druzyna.logo.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ druzyna.nazwa }}</h2>

                            <!-- View Details -->
                            <a href="{% url 'druzyna:detail' druzyna.id %}" class="btn btn-primary btn-sm" role="button">Szczegóły</a>

                            <!-- Delete Album -->
                            <form action="{% url 'druzyna:delete-team' druzyna.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="druzyna_id" value="{{ druzyna.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                      </div>
                    </div>
                </div>

            {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}