{% extends 'druzyna/base.html' %}
<title>{% block title %}Szczegóły{% endblock %}</title>

{% block body %}
    <ul>
    <h3> {{ zawodnik.imie }} {{ zawodnik.nazwisko }} </h3>

        {% if zawodnik %}
            <img src="{{ zawodnik.zdjecie.url }}" class="img-thumbnail" width="250" height="400"><br> <br>
        {% else %}
            <h3> Brak zdjęcia </h3>
        {% endif %}

        <b>Drużyna:</b>&emsp;{{ zawodnik.druzyna }}<br>
        <b>Wiek:</b> &emsp;{{ zawodnik.wiek }}<br>
        <b>Wzrost:</b> &emsp;{{ zawodnik.wzrost }}<br>
        <b>Pozycja:</b> &emsp;{{ zawodnik.pozycja }}<br>
        <b>Numer</b>&emsp;{{ zawodnik.numer }}<br>
    <br>&emsp;&emsp;

  <button><a href="{% url 'zawodnik:index_z' %}">Powrot do listy zawodnikow</a></button>
    </ul> {% endblock %}