{% extends 'druzyna/base.html' %}
<title>{% block title %}Zawodnicy{% endblock %}</title>

{% block body %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="table-responsive">
<h2>Spis zawodnikow:</h2>
 <table class="table table-striped">
   <thead>
      <tr>
          <th>Imie</th>
          <th>Nazwisko</th>
          <th>Pozycja</th>
          <th>Druzyna</th>
          <th>Szczegoly</th>
      </tr>
    </thead>
   <tbody>
          {% for zawodnik in object_list %}
              <tr>
                  <td>{{ zawodnik.imie }}</td>
                  <td>{{ zawodnik.nazwisko }}</td>
                  <td>{{ zawodnik.pozycja }}</td>
                  <td>{{ zawodnik.druzyna }}</td><td>
                  <a href=" {% url 'zawodnik:detail' zawodnik.id %}" > Wiecej... </a></td> </a>
        </tr>
          {% endfor %}
    </tbody>
  </table>
</div>
</body>

</html>


{% endblock %}