{% extends 'druzyna/base.html' %}
{% block body %}
            <div class="panel panel-default">
    <div class="panel-body">
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post"><br>
{% csrf_token %}
{% for choice in question.choice_set.all %}
   <font size="4"> <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
       <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br /></font>
{% endfor %}
<input type="submit" value="Glosuj" />
</form>
    </div></div>
{% endblock %}
