{% extends 'druzyna/base.html' %}
{% block body %}
        <div class="panel panel-default">
    <div class="panel-body">
{% if latest_question_list %}

    {% for question in latest_question_list %}
<center><li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li></center>
    {% endfor %}

    </div></div>
{% else %}
    <p>Brak ankiet.</p>
{% endif %}
{% endblock %}
