<script src="http://www.google.com/jsapi"></script>
<script src="/static/chartkick.js"></script>

{% extends 'druzyna/base.html' %}

{% block body %}

<center><h1>{{ question.question_text }}</h1></center>
<div class="panel panel-default">
    <div class="panel-body">
    <center>
{% for choice in question.choice_set.all %}

    <li><b><font size="4"> {{ choice.choice_text }}</b> -- {{ choice.votes }} </font> </li>

{% endfor %}
    </center>
</div>
</div>

    {% load chartkick %}
{% pie_chart data with height='200px' %}
    <br>

<tail><center><button><a href="{% url 'polls:index' %}">Powrot do ankiet</a></button></center></tail>
{% endblock %}
